.channelcss
{
  font-family: arial,helvetica;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #bb4444;
  padding: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rowdatecss
{
  font-family: arial,helvetica;
  font-size: 10pt;
  font-style: oblique;
  letter-spacing: 2px;
  color: #ff6666;
}

.rowtextcss
{
  font-family: arial,helvetica;
  font-size: 12pt;
  letter-spacing: 2px;
  color: #555599;
  padding-left: 20px;
}

.maintext
{
  position: absolute;
  width: 1024px;
  font-family: arial,helvetica;
  font-size: 10pt;
  letter-spacing: 2px;
  line-height: 200%;
  padding: 20px;
  color: #888888;
}

.usertextinputcss
{
  width: 1024px;
  font-family: arial,helvetica;
  font-size: 10pt;
  letter-spacing: 2px;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #ff6666;
  padding: 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
